<?xml version="1.0" ?>
<launch>

<node name="tf_front" pkg="tf" type="static_transform_publisher" args="0.15 0 0 0 0 0 sandwich_center front_link  10"/>
<node name="tf_back" pkg="tf" type="static_transform_publisher" args="-0.12 0 0 3.141593 0 0 sandwich_center back_link 10"/>
<node name="tf_left" pkg="tf" type="static_transform_publisher" args="0 0.035 0 1.57 0 0 sandwich_center left_link 10"/>
<node name="tf_right" pkg="tf" type="static_transform_publisher" args="0 -0.035 0 -1.57 0 0 sandwich_center right_link 10"/>
<node name="tf_up" pkg="tf" type="static_transform_publisher" args="0 0 0.10 1.57 -1.57 0 sandwich_center up_link 10"/>

</launch>
