<?xml version="1.0" ?>
<launch>
    
    <node pkg="astra_multicamera" type="timed_roslaunch.sh" args="2 astra_multicamera back_7.launch" name="back_delay" />
    <node pkg="astra_multicamera" type="timed_roslaunch.sh" args="4 astra_multicamera front_7.launch" name="front_delay" />
    <node pkg="astra_multicamera" type="timed_roslaunch.sh" args="6 astra_multicamera back_right_7.launch" name="back_right_delay" />
    <node pkg="astra_multicamera" type="timed_roslaunch.sh" args="8 astra_multicamera back_left_7.launch" name="back_left_delay" />
    <node pkg="astra_multicamera" type="timed_roslaunch.sh" args="10 astra_multicamera front_right_7.launch" name="front_right_delay" />
    <node pkg="astra_multicamera" type="timed_roslaunch.sh" args="12 astra_multicamera front_left_7.launch" name="front_left_delay" />
    <node pkg="astra_multicamera" type="timed_roslaunch.sh" args="14 astra_multicamera up_7.launch" name="up_delay" />
</launch>
