<?xml version="1.0" ?>
<launch>
    <node pkg="openni2_multicamera" type="timed_roslaunch.sh" args="2 openni2_multicamera up_7.launch" name="up_delay" />
    <node pkg="openni2_multicamera" type="timed_roslaunch.sh" args="4 openni2_multicamera back_7.launch" name="back_delay" />
    <node pkg="openni2_multicamera" type="timed_roslaunch.sh" args="6 openni2_multicamera front_7.launch" name="front_delay" />
    <node pkg="openni2_multicamera" type="timed_roslaunch.sh" args="8 openni2_multicamera back_right_7.launch" name="back_right_delay" />
    <node pkg="openni2_multicamera" type="timed_roslaunch.sh" args="10 openni2_multicamera back_left_7.launch" name="back_left_delay" />
    <node pkg="openni2_multicamera" type="timed_roslaunch.sh" args="12 openni2_multicamera front_right_7.launch" name="front_right_delay" />
    <node pkg="openni2_multicamera" type="timed_roslaunch.sh" args="14 openni2_multicamera front_left_7.launch" name="front_left_delay" />
</launch>
