<?xml version="1.0" ?>
<launch>
    <arg name="depth_registration" default="true" />
    <arg name="color_depth_synchronization" default="false" />
    <arg name="auto_exposure" default="true" />
    <arg name="auto_white_balance" default="true" />
    <arg name="rgb" default="rgb" />
    <arg name="ir" default="ir" />
    <arg name="depth" default="depth" />
    <arg name="load_driver" default="true" />
    <arg name="publish_tf" default="true" />
    <arg name="rgb_processing" default="true" />
    <arg name="debayer_processing" default="false" />
    <arg name="ir_processing" default="false" />
    <arg name="depth_processing" default="true" />
    <arg name="depth_registered_processing" default="true" />
    <arg name="disparity_processing" default="false" />
    <arg name="disparity_registered_processing" default="false" />
    <arg name="hw_registered_processing" default="true" if="$(arg depth_registration)" />
    <arg name="sw_registered_processing" default="false" if="$(arg depth_registration)" />
    <arg name="hw_registered_processing" default="false" unless="$(arg depth_registration)" />
    <arg name="sw_registered_processing" default="true" unless="$(arg depth_registration)" />
    <arg name="respawn" default="false" />
    <arg name="num_worker_threads" default="4" />
    <arg name="data_skip" default="1" />
    <param name="/front_left/driver/data_skip" value="$(arg data_skip)" />
    <param name="/front_left/driver/color_mode" value="8" />
    <param name="/front_left/driver/depth_mode" value="8" />
    <include file="$(find astra_launch)/launch/astra.launch">
        <arg name="device_id" value="17122430714" />
        <arg name="camera" value="front_left" />
        <arg name="depth_registration" value="$(arg depth_registration)" />
        <arg name="color_depth_synchronization" value="$(arg color_depth_synchronization)" />
        <arg name="auto_exposure" value="$(arg auto_exposure)" />
        <arg name="auto_white_balance" value="$(arg auto_white_balance)" />
        <arg name="rgb" value="$(arg rgb)" />
        <arg name="ir" value="$(arg ir)" />
        <arg name="depth" value="$(arg depth)" />
        <arg name="load_driver" value="$(arg load_driver)" />
        <arg name="publish_tf" value="$(arg publish_tf)" />
        <arg name="rgb_processing" value="$(arg rgb_processing)" />
        <arg name="debayer_processing" value="$(arg debayer_processing)" />
        <arg name="ir_processing" value="$(arg ir_processing)" />
        <arg name="depth_processing" value="$(arg depth_processing)" />
        <arg name="depth_registered_processing" value="$(arg depth_registered_processing)" />
        <arg name="disparity_processing" value="$(arg disparity_processing)" />
        <arg name="disparity_registered_processing" value="$(arg disparity_registered_processing)" />
        <arg name="hw_registered_processing" value="$(arg hw_registered_processing)" />
        <arg name="sw_registered_processing" value="$(arg sw_registered_processing)" />
        <arg name="respawn" value="$(arg respawn)" />
        <arg name="num_worker_threads" value="$(arg num_worker_threads)" />
    </include>
</launch>
