<?xml version="1.0"?>
<launch>
  <arg name="camera" default="camera" />
  <!-- TODO: This is temporary: saves images, control commands and odometry-->
 <node pkg="rosbag" type="record" name="rosbag_camera" args="record -o /home/chur/camera 
        /$(arg camera)/depth_registered/camera_info /$(arg camera)/depth_registered/image_raw
/$(arg camera)/rgb/camera_info /$(arg camera)/rgb/image_raw 
        " />   
  
</launch>
