<?xml version="1.0" ?>
<launch>

<node name="tf_front" pkg="tf" type="static_transform_publisher" args="0.23 0 0 0 0 0 sandwich_center front_link  10"/>
<node name="tf_back" pkg="tf" type="static_transform_publisher" args="-0.32 0 0 3.141593 0 0 sandwich_center back_link 10"/>
<node name="tf_front_down" pkg="tf" type="static_transform_publisher" args="0.23 0.01 -0.21 -0.5 0.69 0.075 sandwich_center front_down_link 10"/>
<!-- <node name="tf_front_down_2" pkg="tf" type="static_transform_publisher" args="0.23 0.06 -0.21 0.5 0.79 3.14 sandwich_center front_down_2_link 10"/> -->
<!-- <node name="tf_front_down_2" pkg="tf" type="static_transform_publisher" args="-0.102163  0.0519018 -0.0479343 -0.352193 0.056823 0.863466 0.356592 front_down_depth_frame front_down_2_depth_frame 10" /> -->
<!-- <node name="tf_front_down_2" pkg="tf" type="static_transform_publisher" args="-0.110111 -0.00349905  -0.0215029 -0.352193  0.056823  0.863466 -0.356592 front_down_depth_frame front_down_2_depth_frame 10" /> -->
<node name="tf_front_down_2" pkg="tf" type="static_transform_publisher" args="-0.102169 -0.00478154  -0.0217479 -0.352193 0.056823 0.863466 -0.356592 front_down_link front_down_2_link 10" />

<node name="tf_back_down" pkg="tf" type="static_transform_publisher" args="-0.32 -0.05 0.02 3.141593 0.83 0 sandwich_center back_down_link 10"/>
<node name="tf_up" pkg="tf" type="static_transform_publisher" args="0 0 0.10 -1.57 -1.57 0 sandwich_center up_link 10"/>

</launch>





